body{
  background-color: #180840;
  color: #9BA9DD;
  font-family: 'Karla', sans-serif;
  margin: 0 auto;
  text-align: center;
}

a{
  color: #8549f2;
}

button{
  appearance: none;
  -moz-appearance: none;
  border: none;
  margin: .2em;
  font-size: 3em;
  box-shadow: 2px 4px #9BA9DD;
  background-color: #180840;
  color: #8549f2; 
}

.hidden{
  display: none;
}

#scores{
  font-size: 2em;
}

#message{
  color: #8549f2;
  font-size: 10em;
  --height: 4em;
  border-top: 6px solid #9BA9DD;
  border-bottom: 6px solid #9BA9DD;
}
